
/* General body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #856868;
    color: hsl(0, 39%, 27%);
    line-height: 1.6;
    font-weight: strong;
}

/* Container for the form */
form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(31, 31, 31, 0.1);
}

/* Style for form labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Paragraph styles */
p {
    margin-bottom: 15px;
}

/* Headings styles */
h2, h3, h4, h5, h6 {
    color: #333;
    margin-bottom: 20px;
}

/* Style for input fields */
input[type="text"], input[type="email"], input[type="number"], input[type="date"], input[type="password"], input[type="file"] {
    display: block;
    margin: 10px 0 20px 0;
    padding: 10px;
    width: calc(100% - 22px); /* Adjusting width to account for padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

/* Style for checkboxes and radio buttons */
input[type="checkbox"], input[type="radio"] {
    margin-right: 11px;
    color:rgba(79, 77, 77, 0.1);
}

/* Style for submit button */
input[type="submit"] {
    padding: 10px 20px;
    background-color: #07640d;
    color: rgb(141, 140, 140);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #294d4b;
}

/* Additional styles */
.container {
    padding: 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-weight: strong;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    font-weight: strong;
    width:fit-content; }

h1 {text-align:center;
    color:#094834;
    font-weight:bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size:3em;
}
